@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';
@import '@fortawesome/fontawesome/styles.css';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f2f2f2;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    padding-top: 56px;
}

.circle{
  border-radius: 50%;
}

.table th, .table td {
  vertical-align: middle;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 80%;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-container.sm{
  width: 50%;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#mainnav {
  position: absolute; 
  font-family: 'Montserrat Alternates', sans-serif;
  z-index: 1;
  li {
    margin: 85px 0;
    left: -550px;
    position: relative;
    display: none;
  }
  a {
    color: #fff;
    text-shadow: 2px 2px 0 #000;
    text-decoration: none;
    font-size: 3.5em;
  }
}

.hamb {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2.5em;
  z-index: 1;
  a {
    color: #fff;
    text-decoration: none;
  }
}

#bubble {
  width: 100%;
  height: 100%;
  opacity: .9;
  position: fixed;
  display: none;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}

.row{
  margin-right: 0;
  margin-left: 0;
}

//transitions

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.product{
  background-color: #fff;
  transition: all .5s ease-out;

  &:hover{
    box-shadow: 0 5px 50px -4px rgba(0,0,0,.3);
  }

  &-img-container{
    display: block;
    color: #fff;
    width: 100%;
    padding-top: 100%;
    transition: all .3s;
    backface-visibility: hidden;
    overflow: hidden;
    position: relative;

    .img-overlay{
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, .5);
      transition: all .4s;

      .arrow{
        display: inline-block;
        font-size: 1.2rem;
        border: 1px solid #fff;
        //border-radius: 2px;
        height: 30px;
        width: 50px;
        display: flex;
        justify-content: center;
      }

    }

    &:hover .img-overlay{
      opacity: 1;
    }

    .product-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .4s;
    }
  }

  &-info-box{
    width: 100%;
    padding: 1rem;
    text-align: center;

    .product-name{
      font-weight: 400;
    }

    .product-type, .product-price{
      margin: 0;
      font-size: .8rem;
    }

    .product-price{
      color: #fd4f6b;
    }
  }
}