<template>
  <card>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Нэр</th>
            <th>Утас</th>
            <th>Имейл</th>
            <th>Бараа</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="order in orders" :key="order.id">
            <td>{{ order.name }}</td>
            <td>{{ order.number }}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.product_id }}</td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </card>
</template>

<script>
const axios = require('axios');
import { mapGetters } from 'vuex'
import Navbar from '~/components/Navbar'

export default {
  middleware: 'auth',
  layout: 'admin',

  components: {
    Navbar
  },

  head () {
    return { title: 'Захиалга' }
  },

  data: () => ({
    title: process.env.appName,
    orders: null,
    busy: false,
    imgur: {
      client: process.env.IMGUR_CLIENT,
      secret: process.env.IMGUR_SECRET
    }
  }),

  methods: {
    loadOrders(){
      axios.get(process.env.apiUrl+'/admin/orders')
      .then((response) => {
        this.orders = response.data.data;
      })
      .catch(function (error) {
        console.log(error);
      });
    },

    deleteOrder(id){
      this.busy = true;
      var index = this.products.map(function(e) { return e.id; }).indexOf(id);
      axios.delete(process.env.apiUrl+'/admin/product/'+id)
      .then((response) => {
        if(response.data.success == true){
          this.busy = false;
          console.log(response)
          this.products[index].status = 0;
        }
      })
      .catch(function (error) {
        console.log(error);
        this.busy = false;
      });
    }
  },

  mounted(){
    this.loadOrders();
  },

  computed: mapGetters({
    authenticated: 'auth/check'
  })
}
</script>
