<template>
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-md-3">
        <card :title="'Удирдлага'" class="settings-card">
          <ul class="nav flex-column nav-pills">
            <li v-for="tab in tabs" :key="tab.route" class="nav-item">
              <router-link :to="{ name: tab.route }" class="nav-link" active-class="active">
                <span :class="tab.icon"></span>
                {{ tab.name }}
              </router-link>
            </li>
          </ul>
        </card>
      </div>

      <div class="col-md-9">
        <transition name="fade" mode="out-in">
          <router-view/>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',

  computed: {
    tabs () {
      return [
        {
          icon: 'mdi mdi-cart',
          name: 'Бүтээгдэхүүн',
          route: 'admin.products'
        },
        {
          icon: 'mdi mdi-plus',
          name: 'Бүтээгдэхүүн нэмэх',
          route: 'admin.createProduct'
        },
        {
          icon: 'mdi mdi-plus',
          name: 'Захиалга',
          route: 'admin.orders'
        }
      ]
    }
  }
}
</script>

<style>
.settings-card .card-body {
  padding: 0;
}
</style>