<template>
  <card>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Нэр</th>
            <th>Төрөл</th>
            <th>Материал</th>
            <th>Өнгө</th>
            <th>Засах</th>
            <th>Устгах</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product in products" :key="product.id">
            <template  v-if="product.status == 1">
              <td>{{ product.name }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.material }}</td>
              <td>{{ product.color }}</td>
              <td><router-link :to="{name: 'product.edit', params: {id: product.id}}" class="btn circle btn-outline-info">
                <span class="mdi mdi-circle-edit-outline"></span>
                </router-link>
              </td>
              <td>
                <button @click="deleteProduct(product.id)" :class="{'btn circle btn-outline-danger': 1, 'btn-loading': busy}">
                  <span class="mdi mdi-delete-outline"></span>
                </button>
              </td>
            </template>
          </tr>
        </tbody>
      </table>
    </div>
  </card>
</template>

<script>
const axios = require('axios');
import { mapGetters } from 'vuex'
import Navbar from '~/components/Navbar'

export default {
  middleware: 'auth',
  layout: 'admin',

  components: {
    Navbar
  },

  head () {
    return { title: 'Бүтээгдэхүүн' }
  },

  data: () => ({
    title: process.env.appName,
    products: null,
    busy: false,
    imgur: {
      client: process.env.IMGUR_CLIENT,
      secret: process.env.IMGUR_SECRET
    }
  }),

  methods: {
    loadProducts(){
      axios.get(process.env.apiUrl+'/admin/products')
      .then((response) => {
        this.products = response.data.data;
      })
      .catch(function (error) {
        console.log(error);
      });
    },

    deleteProduct(id){
      this.busy = true;
      var index = this.products.map(function(e) { return e.id; }).indexOf(id);
      axios.delete(process.env.apiUrl+'/admin/product/'+id)
      .then((response) => {
        if(response.data.success == true){
          this.busy = false;
          console.log(response)
          this.products[index].status = 0;
        }
      })
      .catch(function (error) {
        console.log(error);
        this.busy = false;
      });
    }
  },

  mounted(){
    this.loadProducts();
  },

  computed: mapGetters({
    authenticated: 'auth/check'
  })
}
</script>
