<template>
  <!-- You can find this swiper instance object in current component by the "mySwiper"  -->
  <div class="main-swiper-container">
    <div v-swiper:mySwiper="swiperOption" class="main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="banner in banners" :key="banner">
          <img class="swiper-img" :src="banner">
        </div>
      </div>
      <!-- <div class="swiper-pagination swiper-pagination-bullets"></div> -->
    </div>
    
    <div class="swiper-button-pruv" slot="button-prev">
        <span class="mdi mdi-chevron-left"></span>
    </div>
    <div class="swiper-button-nuxt" slot="button-next">
      <span class="mdi mdi-chevron-right"></span>
    </div>
  </div>
  
</template>

<script>
  export default {
    data () {
      return {
        banners: [
          'https://picsum.photos/1920/1080?image=0',
          'https://picsum.photos/1920/1080?image=1081',
          'https://picsum.photos/1920/1080?image=1079',
          'https://picsum.photos/1920/1080?image=1000',

        ],
        swiperOption: {
          slidesPerView: 'auto',
          centeredSlides: true,
          spaceBetween: 30,
          effect: 'fade',
          loop: true,
          navigation: {
            nextEl: '.swiper-button-nuxt',
            prevEl: '.swiper-button-pruv',
          },
          on: {
            slideChange() {
              console.log('onSlideChangeEnd', this);
            },
            tap() {
              console.log('onTap', this);
            }
          }
        }
      }
    },
    mounted() {
    }
  }
</script>


<style lang="scss" scoped>

  .main-swiper-container{
    height: 100vh;
    position: relative;

    .swiper-button-nuxt, .swiper-button-pruv{
      color: #333;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, .15);
      transition: all .3s;
      cursor: pointer;
      z-index: 100;

      span{
        margin-top: 2px;
        font-size: 20px;
      }

      &.swiper-button-disabled{
        color: #ddd;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
      }

      &.swiper-button-disabled:hover{
        color: #ddd;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
      }

      &:focus{
        outline: none;
      }
      &:hover{
        box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
      }
    }

    .swiper-button-nuxt{
      right: 20px;
    }

    .swiper-button-pruv{
      left: 20px;
    }

  }

  .swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
  }

  .main-swiper {
    height: 100vh;
    width: 100%;
    .swiper-slide {
      text-align: center;
      font-size: 38px;
      font-weight: 700;
      background-color: #eee;
      display: flex;
      justify-content: center;
      align-items: center;
    
      .swiper-img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }

  }

  @media only screen and (max-width: 600px) {

    .main-swiper-container{
      height: 50vh;
    }
    .main-swiper {
      height: 50vh;
      .swiper-slide {
        .swiper-img{
          height: 50vh;
        }
      }

    }
  }
</style>