<template>
  <footer class="footer mt-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="footer-box">
          Shubu Brand &copy; 2019  <br>
          Made with <span class="mdi mdi-heart-outline"></span> by <a href="http://hosoo.anix.space" target="_blank" rel="noopener noreferrer">Hosoo</a>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  
}
</script>


<style lang="scss" scoped>

  .footer{
    position: absolute;
    bottom: 0;
    background-color: #eee;
    padding: 15px;
    width: 100%;

    &-box{
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      font-size: .8rem;
    }
  }

  .mdi-heart-outline{
    color: #ff7070;
  }
  
</style>
