<template>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container">
      <router-link :to="{ name: 'index' }" class="navbar-brand">
        {{ appName }}
      </router-link>

      <button :aria-label="$t('toggle_navigation')" class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarToggler"
              aria-controls="navbarToggler" aria-expanded="false"
      >
        <span class="navbar-toggler-icon"/>
      </button>

      <div id="navbarToggler" class="collapse navbar-collapse">

        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link :to="{name: 'products'}" class="nav-link">
              Бүтээгдэхүүн
            </router-link>
          </li>
          <li class="nav-item">
            <router-link :to="{name: 'order'}" class="nav-link">
              Захиалга
            </router-link>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <!-- Authenticated -->
          <li v-if="user" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark"
               href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img :src="user.photo_url" class="rounded-circle profile-photo mr-1">
              {{ user.name }}
            </a>
            <div class="dropdown-menu">

              <router-link :to="{ name: 'admin' }" class="dropdown-item pl-3">
                <span class="mdi mdi-monitor-dashboard"></span>
                Админ
              </router-link>

              <router-link :to="{ name: 'settings.profile' }" class="dropdown-item pl-3">
                <span class="mdi mdi-settings-outline"></span>
                Тохиргоо
              </router-link>

              <div class="dropdown-divider"/>
              <a class="dropdown-item pl-3" href="#" @click.prevent="logout">
                <span class="mdi mdi-logout"></span>
                Гарах
              </a>
            </div>
          </li>
          <!-- Guest -->
          <template v-else>
            <li class="nav-item">
              <router-link :to="{ name: 'login' }" class="nav-link" active-class="active">
                <span class="mdi mdi-account-outline"></span>
              </router-link>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'
import LocaleDropdown from './LocaleDropdown'

export default {
  components: {
    LocaleDropdown
  },

  data: () => ({
    appName: process.env.appName
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  methods: {
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style scoped lang="scss">

  .navbar{
    background-color: rgba(#fff, .9);
  }

  .navbar-nav .nav-item .nav-link{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }

  .navbar .navbar-brand{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  .profile-photo {
    width: 2rem;
    height: 2rem;
    margin: -.375rem 0;
  }
</style>
