<template>
  <div class="container-fluid mt-4">
    <div class="row" v-if="products != null">
      <div v-for="product in products" :key="product.id" class="col-md-3">
        <div class="product">
          <router-link :to="{name: 'product', params: {id: product.id}}" class="product-img-container">
            <img v-if="product.images" :src="product.images[0].image_url" alt="test" class="product-img">
            <div class="img-overlay"><span class="mdi mdi-arrow-right arrow"></span></div>
          </router-link>
          
          <div class="product-info-box mb-4">
            <h6 class="product-name mt-1">{{product.name}}</h6>
            <p class="product-price">{{product.price}}₮</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require('axios');
export default {

  head () {
    return { title: 'Бүтээгдэхүүн' }
  },
  data:() => ({
    products: null
  }),
  mounted(){
    axios.get(process.env.apiUrl+'/products')
      .then((response) => {
        this.products = response.data.data;
      })
      .catch(function (error) {
        console.log(error);
      });
  }
}
</script>

<style lang="scss" scoped>
  .img-overlay{
    color: #fff;
  }
</style>
