<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-10">
                <div class="product-panel">
                    <div class="row" v-if="product">
                        <div class="row mb-5">
                            <div class="col md-6">
                                <div class="product-panel-image">
                                    <transition name="fade">
                                        <img :key="currentImg" :src="currentImg" alt="current image">
                                    </transition>
                                </div>
                                <div class="img-picker-box">
                                    <div class="img-picker-box-img-container" v-for="img in product.images" :key="img.id" @mouseover="changeImg(img.image_url)">
                                        
                                        <img :key="img.id" :class="{'img-picker-box-img': true, 'active': img.image_url == currentImg}" :src="img.image_url" alt="product image">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="product-panel-info-box">
                                    <span class="product-type">{{product.product_type}}</span>
                                    <h1 class="product-name">{{product.name}}</h1>
                                    <p class="product-desc">{{product.description}}</p>
                                    <span class="product-price">{{product.price.toLocaleString()}}₮</span>
                                    <div class="order-wrapper">
                                        <template v-if="product.count == null">
                                            <div class="product-count-empty">Бүтээгдэхүүн дууссан байна</div>
                                            <button @click="makeOrder(product.id)" class="product-order-btn">Захиалах</button>
                                        </template>
                                        <template v-else>
                                            <div class="product-count"><span class="number">{{ product.count }}</span> ширхэг үлдсэн байна</div>
                                            <button @click="makeOrder(product.id)" class="product-order-btn">Авах</button>
                                        </template>
                                    </div>
                                    <div class="divider mt-4"></div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-12 mb-5">
                            <table class="additional">
                                <thead>
                                    <tr>
                                        <th colspan="2">Нэмэлт</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="bold">Материал</td>
                                        <td>{{ product.material }}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Өнгө</td>
                                        <td>{{ product.color }}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Хүйс</td>
                                        <td>{{ product.gender }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form @submit.prevent="storeOrder">
            <modal v-if="showModal" @close="showModal = false" :sm="'col-md-4 col-sm-8'">
                <template v-if="!success">
                    <h3 slot="header">Захиалга өгөх</h3>
                    <div slot="body">
                        <div class="form-group">
                            <input v-model="orderForm.name" type="text" class="form-control" id="name" placeholder="Таны нэр">
                        </div>
                        <div class="form-group">
                            <input v-model="orderForm.email" type="email" class="form-control" id="name" placeholder="Имейл хаяг">
                        </div>
                        <div class="form-group">
                            <input required v-model="orderForm.number" type="number" class="form-control" id="name" placeholder="Утасны дугаар">
                        </div>
                    </div>
                    <template slot="footer">
                        <button :class="{'modal-default-button btn btn-outline-success': true, 'btn-loading': busy}" type="submit">
                            Захиалах
                        </button>
                        <div class="modal-default-button btn btn-outline-info" @click="showModal = false">
                            Хаах
                        </div>
                    </template>
                </template>
                <template v-else>
                    <h3 slot="header">Захиалга өгөх</h3>
                    <div slot="body">
                        Амжилттай!
                    </div>
                    <div slot="footer" class="modal-default-button btn btn-outline-info" @click="showModal = false">
                        Хаах
                    </div>
                </template>
            </modal>
        </form>
    </div>
</template>

<script>

import Navbar from '~/components/Navbar'
import Form from 'vform'
const axios = require('axios');

export default {
  layout: 'default',

  components: {
    Navbar
  },

  head () {
    return { title: this.$t('home') }
  },

  data: () => ({
    title: process.env.appName,
    busy: false,
    product: null,
    loading: false,
    currentImg: null,
    showModal: false,
    success: false,
    orderForm: {
        name: null,
        email: null,
        number: null,
        productId: null
    }
  }),

  created () {

    axios.get(process.env.apiUrl+'/product/'+this.$route.params.id)
      .then((response) => {
        this.product = response.data.data;
        this.currentImg = this.product.images[0].image_url;
      })
      .catch(function (error) {
        console.log(error);
      });

  },

  methods:{
    
    makeOrder(id){
        this.showModal = true;
    },

    storeOrder(event){
        this.busy = true;
        var formData = new FormData()

        for ( var key in this.orderForm ) {
            formData.append(key, this.orderForm[key])
        }
        formData.append('productId', this.product.id)

        axios({
            method: 'POST',
            url : process.env.apiUrl+'/order',
            data: formData,
            config: { headers: {'Content-Type': 'multipart/form-data' }}
        })
        .then((response) => {
        if(response.status == 200 || response.status == 201){
            this.busy = false
            this.success = true
        }else{
            console.log(response);
        }
        })
        .catch(function (error) {
            alert(error);
        });
    },

    changeImg(url){
        if(url !== this.currentImg){
            this.currentImg = url;
        }
    }

  }
}
</script>

<style lang="scss" scoped>
    .container-fluid{
        margin-top: 56px;
    }
    
    .divider{
        height: 2px;
        background-color: #ddd;
    }

    .product-panel{
        width: 100%;
        background-color: #fff;
        box-shadow: 0 5px 50px -4px rgba(0,0,0,.3);

        .col{
            padding: 0;
        }

        &-image{
            width: 100%;
            padding-top: 100%;
            position: relative;

            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-info-box{
            padding: 2rem;

            .order-wrapper{
                width:100%;
                text-align: center;
            }

            .product{

                &-name, &-type, &-desc, &-price{
                    margin-bottom: 1rem;
                    display: inline-block;
                    width: 100%;
                }

                &-name{
                    font-weight: bold;
                    font-size: 1.6rem;
                }

                &-type{
                    color: #666;
                }

                &-desc{
                    color: #555;
                }

                &-price{
                    color: #37b150;
                    font-weight: bolder;
                    font-size: 1.6rem;
                }

                &-count-empty{
                    display: inline-block;
                    font-size: .8rem;
                    margin-bottom: 1rem;
                    background: #e6ba2c;
                    color: #fff;
                    padding: .5rem 1rem;
                    border-radius: 2rem;
                    margin-right: 1rem;
                }

                &-count{
                    display: inline-block;
                    font-size: .8rem;
                    margin-bottom: 1rem;
                    background: #e6ba2c;
                    color: #fff;
                    padding: .5rem 1rem;
                    border-radius: 2rem;
                    margin-right: 1rem;

                    .number{
                        font-size: 1rem;
                        width: 100%;
                        height: 100%;
                        padding: .2rem .5rem;
                        text-align: center;
                        border-radius: 1rem;
                        background-color: #fff;
                        color: #e6ba2c;
                        font-weight: bold;
                    }
                }

                &-order-btn{
                    display: inline-block;
                    background-color: #37b150;
                    color: #fff;
                    outline: none;
                    border: none;
                    border-radius: 1.5rem;
                    padding: .5rem 1rem;
                    box-shadow: 0px 2px 15px 1px rgba(#37b150, .4);
                    transition: all .3s;
                    cursor: pointer;

                    &:hover{
                        box-shadow: 0px 0px 10px 1px rgba(#37b150, .4);
                    }
                }
            }
        }
    }

    .img-picker-box{
        padding: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        transition: all .3s;

        &-img-container{
            width: 15%;
            float: left;
            position: relative;
            padding-top: 15%;
            display: inline-block;
            cursor: pointer;
            transition: all .3s;

            &:not(:last-child){
                margin-right: 1rem;
            }

            &:hover{
                box-shadow: 0px 2px 15px 1px rgba(0,0,0,.3);
            }
        }

        &-img{
            opacity: .8;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;

            &.active{
                opacity: 1;
                box-shadow: 0px 2px 15px 1px rgba(0,0,0,.3);
            }
        }
    }

    .additional{
        
        th, td {
            padding: .5rem 2rem;
        }

        th {
            font-size: 1.6rem;
        }

    }

    .bold{
        font-weight: bold;
    }
</style>

