<template>
  <card>
    <div class="card-body">
      <router-link :to="{ name: 'admin.products' }" class="btn btn-primary"><span class="mdi mdi-arrow-left"></span> Буцах</router-link>
      <div class="row justify-content-center mt-4">
        <div class="col-sm-10">
          <form @submit.prevent="submit">
            <div class="form-group">
              <input required v-model="form.name" type="text" class="form-control" id="name" placeholder="Бүтээгдэхүүний нэр">
            </div>
            <div class="form-group">
              <textarea required v-model="form.description" type="text" class="form-control" id="desc" placeholder="Бүтээгдэхүүний талаар дэлгэрэнгүй"></textarea>
            </div>
            <div class="form-group">
              <label for="type">Бүтээгдэхүүний төрөл сонгоно уу?</label>
              <select id="type" required v-model="form.product_type" class="custom-select">
                <option selected value="Даавуун цүнх">Даавуун цүнх</option>
                <option value="Подволк">Подволк</option>
                <option value="Цамц">Цамц</option>
                <option value="Бөгж">Бөгж</option>
              </select>
            </div>
            <div class="form-group">
              <label for="color">Өнгөө сонгоно уу?</label>
              <select id="color" required v-model="form.color" class="custom-select">
                <option selected value="Хар">Хар</option>
                <option value="Саарал">Саарал</option>
                <option value="Цагаан">Цагаан</option>
                <option value="Шар">Шар</option>
              </select>
            </div>
            <div class="form-group">
              <label for="material">Материал сонгоно уу?</label>
              <select id="material" required v-model="form.material" class="custom-select">
                <option selected value="Даавуун">Даавуун</option>
                <option value="Арьсан">Арьсан</option>
              </select>
            </div>
            <div class="form-group">
              <label for="gender">Ямар хүйсийх?</label>
              <select id="gender" required v-model="form.gender" class="custom-select">
                <option selected value="Эрэгтэй">Эрэгтэй</option>
                <option value="Эмэгтэй">Эмэгтэй</option>
                <option value="Хамаарахгүй">Хамаарахгүй</option>
              </select>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input required v-model="form.price" type="number" class="form-control" id="price" placeholder="Үнэ">
                <div class="input-group-append">
                  <div class="input-group-text">₮</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input required v-model="form.count" type="number" class="form-control" id="count" placeholder="Тоо">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input v-model="form.sale_percentage" type="number" class="form-control" id="sale" placeholder="Хямдарсан хувь">
                <div class="input-group-append">
                  <div class="input-group-text">%</div>
                </div>
              </div>
              <small id="emailHelp" class="form-text text-muted">Заавал оруулах шаардлагагүй</small>
            </div>

            <div class="form-group">
              <button @click="showModal = true" type="button" class="btn btn-primary">
                Зураг сонгох
              </button>
            </div>
            <div v-if="success" class="alert alert-success alert-dismissible fade show" role="alert">
              Амжилттай засагдлаа!
              <button @click="success = false" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="row justify-content-center">
              <v-button :loading="busy" class="btn btn-success" type="submit">Нэмэх</v-button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <modal v-if="showModal" @close="showModal = false">
      <h3 slot="header">Зураг нэмэх</h3>
      <div slot="body">
        <div class="img-input-group">
          <input id="img-input" multiple type="file" accept="image/*" class="img-input" @change="showImages">
          <label for="img-input" class="btn btn-block btn-outline-info">Зураг сонгох</label>
        </div>
        <div class="uploaded-imgs">
          <div class="row">
            <div class="col-md-3 img-container" v-for="image in form.images" :key="image">
              <button @click="removeImage" class="btn btn-danger">Хасах</button>
              <img class="upload-img" :src="image" alt="">  
            </div>  
          </div>  
        </div>
      </div>
    </modal>

  </card>
</template>

<script>
import { mapGetters } from 'vuex'
import Navbar from '~/components/Navbar'
import Form from 'vform'
const axios = require('axios');

export default {
  middleware: 'auth',
  layout: 'default',

  components: {
    Navbar
  },

  head () {
    return { title: 'Бүтээгдэхүүн нэмэх' }
  },

  data: () => ({
    title: process.env.appName,
    showModal: false,
    busy: false,
    product: null,
    form: {
      name: '',
      product_type: '',
      color: '',
      material: '',
      price: null,
      count: null,
      sale_percentage: null,
      gender: '',
      description: '',
      images: [],
      formImages: [],
    },
    success: false,
    imgur: {
      client: process.env.IMGUR_CLIENT,
      secret: process.env.IMGUR_SECRET
    }
  }),

  computed: mapGetters({
    authenticated: 'auth/check'
  }),

  methods:{
    submit(event){
      this.busy = true;
      var promises = []
      var formData = new FormData()
      var imgurForm = new FormData()

      for ( var key in this.form ) {
        if(key === "formImages"){
          for(var img in this.form['formImages']){
            imgurForm.append('image', this.form['formImages'][img])
            promises.push(
              axios({
                method: 'POST',
                url: 'https://api.imgur.com/3/image',
                data: imgurForm,
                headers: {'Content-Type': 'multipart/form-data',
                'Authorization': 'Client-ID '+this.imgur.client }
              })
            )
          }
        }else if(key !== "images"){
          formData.append(key, this.form[key])
        }
      }
      var thiss = this;
      axios.all(promises).then(function(results) {
          results.forEach(function(response) {
            if(response.data.success){
              console.log(response.data.data.link)
              formData.append('images[]', response.data.data.link)
              formData.append('deleteHashes[]', response.data.data.deletehash)
            }
          })
          axios({
            method: 'POST',
            url : process.env.apiUrl+'/admin/product',
            data: formData,
            config: { headers: {'Content-Type': 'multipart/form-data' }}
          })
          .then((response) => {
            if(response.status == 200 || response.status == 201){
              thiss.busy = false;
              thiss.$router.push({name: 'admin.products'});
            }else{
              console.log(response);
            }
          })
          .catch(function (error) {
            alert(error);
          });
      });
      
    },

    showImages(event){

      var input = event.target;

      if(input.files){
        for(var i = 0; i < input.files.length; i++){
          var reader = new FileReader();
          this.form.formImages.push(input.files[i]);
          reader.onload = (e) => {
              this.form.images.push(e.target.result);
          }
          // Start the reader job - read file as a data url (base64 format)
          reader.readAsDataURL(input.files[i]);
        }
      }
    },

    removeImage(event){
      var src = event.target.parentElement.children[1].getAttribute('src');

      var index = this.form.images.indexOf(src);
      if (index > -1) {
        this.form.images.splice(index, 1);
        this.form.formImages.splice(index, 1);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .img-input-group{


    .img-input{
      display: none;
    }
  }

  .uploaded-imgs {

    .img-container{
        button{
          opacity: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
        }

      .upload-img{
        width: 100%;
      }

      &:hover button{
        opacity: 1;
      }
    }

  }
</style>

