<template>
  <card>
    <div class="card-body">
      <router-link :to="{ name: 'admin.products' }" class="btn btn-primary"><span class="mdi mdi-arrow-left"></span> Буцах</router-link>
      <div class="row justify-content-center mt-4">
        <div class="col-sm-10">
          <form @submit.prevent="submit">
            <div class="form-group">
              <input required v-model="form.name" type="text" class="form-control" id="name" placeholder="Бүтээгдэхүүний нэр">
            </div>
            <div class="form-group">
              <textarea required v-model="form.description" type="text" class="form-control" id="desc" placeholder="Бүтээгдэхүүний талаар дэлгэрэнгүй"></textarea>
            </div>
            <div class="form-group">
              <label for="type">Бүтээгдэхүүний төрөл сонгоно уу?</label>
              <select id="type" required v-model="form.product_type" class="custom-select">
                <option selected value="Даавуун цүнх">Даавуун цүнх</option>
                <option value="Подволк">Подволк</option>
                <option value="Цамц">Цамц</option>
                <option value="Бөгж">Бөгж</option>
              </select>
            </div>
            <div class="form-group">
              <label for="color">Өнгөө сонгоно уу?</label>
              <select id="color" required v-model="form.color" class="custom-select">
                <option selected value="Хар">Хар</option>
                <option value="Саарал">Саарал</option>
                <option value="Цагаан">Цагаан</option>
                <option value="Шар">Шар</option>
              </select>
            </div>
            <div class="form-group">
              <label for="material">Материал сонгоно уу?</label>
              <select id="material" required v-model="form.material" class="custom-select">
                <option selected value="Даавуун">Даавуун</option>
                <option value="Арьсан">Арьсан</option>
              </select>
            </div>
            <div class="form-group">
              <label for="gender">Ямар хүйсийх?</label>
              <select id="gender" required v-model="form.gender" class="custom-select">
                <option selected value="Эрэгтэй">Эрэгтэй</option>
                <option value="Эмэгтэй">Эмэгтэй</option>
                <option value="Хамаарахгүй">Хамаарахгүй</option>
              </select>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input required v-model="form.price" type="number" class="form-control" id="price" placeholder="Үнэ">
                <div class="input-group-append">
                  <div class="input-group-text">₮</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input required v-model="form.count" type="number" class="form-control" id="count" placeholder="Тоо">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input v-model="form.sale_percentage" type="number" class="form-control" id="sale" placeholder="Хямдарсан хувь">
                <div class="input-group-append">
                  <div class="input-group-text">%</div>
                </div>
              </div>
              <small id="emailHelp" class="form-text text-muted">Заавал оруулах шаардлагагүй</small>
            </div>

            <div class="form-group">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageModal">
                Зураг сонгох
              </button>
            </div>
            <div v-if="success" class="alert alert-success alert-dismissible fade show" role="alert">
              Амжилттай засагдлаа!
              <button @click="success = false" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="row justify-content-center">
              <v-button :loading="busy" class="btn btn-success" type="submit">Засах</v-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </card>
</template>

<script>
import { mapGetters } from 'vuex'
import Navbar from '~/components/Navbar'
import Form from 'vform'
const axios = require('axios');

export default {
  middleware: 'auth',
  layout: 'default',

  components: {
    Navbar
  },

  head () {
    return { title: 'Бүтээгдэхүүн засах' }
  },

  data: () => ({
    title: process.env.appName,
    busy: false,
    product: null,
    form: new Form({
      name: '',
      product_type: '',
      color: '',
      material: '',
      price: '',
      count: '',
      sale_percentage: '',
      gender: '',
      description: ''
    }),
    success: false
  }),

  computed: mapGetters({
    authenticated: 'auth/check'
  }),

  created () {

    axios.get(process.env.apiUrl+'/admin/product/'+this.$route.params.id)
      .then((response) => {
        this.product = response.data.data;
        this.form.keys().forEach(key => {
          this.form[key] = this.product[key]
        });
      })
      .catch(function (error) {
        console.log(error);
      });
  },

  methods:{
    submit(event){

      this.busy = true;

      axios({
        method: 'PUT',
        url : process.env.apiUrl+'/admin/product/'+this.$route.params.id,
        data: this.form,
        config: { headers: {'Content-Type': 'multipart/form-data' }}
      })
      .then((response) => {
        if(response.status == 200){
          this.busy = false;
          this.success = true;
        }
      })
      .catch(function (error) {
        console.log(error);
        this.busy = false;
      });
    }
  }
}
</script>
