<template>
  <div class="layout">
    <navbar/>
    <nuxt/>
    
    <footer-bar/>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'
import FooterBar from '~/components/Footer'

export default {
  components: {
    Navbar,
    FooterBar
  }
}
</script>

<style lang="scss" scoped>
  .main-wrapper{
    min-height: 80vh;
  }
</style>

