<template>
  <div class="content">
    <div class="text-center">
      <div class="title mb-4">
        <MainSwiper/>
      </div>
    </div>
    <div class="row">
      <h4 class="new-product-header mb-4">Шинэ</h4>
      <div class="product-swiper-container">
        <div v-swiper:productSwiper="swiperOption" class="product-swiper">
          <div class="swiper-wrapper">
            <div v-for="product in products" class="swiper-slide" :key="product.id">
              <div class="product">
                <router-link :to="{name: 'product', params: {id: product.id}}" class="product-img-container">
                  <img v-if="product.images" :src="product.images[0].image_url" alt="test" class="product-img">
                  <div class="img-overlay"><span class="mdi mdi-arrow-right arrow"></span></div>
                </router-link>
                
                <div class="product-info-box mb-4">
                  <h6 class="product-name mt-1">{{product.name}}</h6>
                  <p class="product-price">{{product.price}}₮</p>
                </div>
              </div>
            </div>
          </div>
          <div class="product-swiper-pagination swiper-pagination-bullets"></div>
        </div>
        
        <div class="product-swiper-button-pruv" slot="button-prev">
            <span class="mdi mdi-chevron-left"></span>
        </div>
        <div class="product-swiper-button-nuxt" slot="button-next">
          <span class="mdi mdi-chevron-right"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Navbar from '~/components/Navbar'
import MainSwiper from '~/components/swiper/mainIndexSwiper'
const axios = require('axios')

export default {
  layout: 'default',

  components: {
    Navbar,
    MainSwiper
  },

  head () {
    return { title: this.$t('home') }
  },

  data: () => ({
    products: null,
    title: process.env.appName,
    swiperOption: {
      slidesPerView: 4,
      spaceBetween: 0,
      breakpoints: {
        // when window width is <= 480px
        480: {
          slidesPerView: 1,
        },
        // when window width is <= 640px
        640: {
          slidesPerView: 2,
        },
        1000: {
          slidesPerView: 3,
        }
      },
      // effect: 'fade',
      loop: true,
      navigation: {
        nextEl: '.product-swiper-button-nuxt',
        prevEl: '.product-swiper-button-pruv',
      },
      pagination: {
        el: '.product-swiper-pagination',
        clickable: true,
        
      }
    },
  }),

  created(){
    axios.get(process.env.apiUrl+'/products')
      .then((response) => {
        this.products = response.data.data;
        console.log(this.products);
      })
      .catch(function (error) {
        console.log(error);
      });
  },

  computed: mapGetters({
    authenticated: 'auth/check'
  })
}
</script>

<style lang="scss" scoped>
  body, h1, h2, h3, h4, h5, h6, p{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
  }
  .new-product-header{
    text-align: center;
    width: 100%;
  }

  .product{
    background-color: #fff;
    transition: all .5s ease-out;

    &:hover{
      box-shadow: 0 5px 50px -4px rgba(0,0,0,.3);
    }

    &-img-container{
      display: block;
      color: #fff;
      width: 100%;
      padding-top: 100%;
      transition: all .3s;
      backface-visibility: hidden;
      overflow: hidden;
      position: relative;

      .img-overlay{
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .5);
        transition: all .4s;

        .arrow{
          display: inline-block;
          font-size: 1.2rem;
          border: 1px solid #fff;
          //border-radius: 2px;
          height: 30px;
          width: 50px;
          display: flex;
          justify-content: center;
        }

      }

      &:hover .img-overlay{
        opacity: 1;
      }

      .product-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .4s;
      }
    }

    &-info-box{
      width: 100%;
      padding: 1rem;
      text-align: center;

      .product-name{
        font-weight: 400;
      }

      .product-type, .product-price{
        margin: 0;
        font-size: .8rem;
      }

      .product-price{
        color: #fd4f6b;
      }
    }
  }

  .swiper-container{
    text-align: center;
  }

  .product-swiper-container{
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
    position: relative;

    .product-swiper-button-nuxt, .product-swiper-button-pruv{
      color: #333;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, .15);
      transition: all .3s;
      cursor: pointer;
      z-index: 100;
      text-align: center;

      span{
        margin-top: 2px;
        font-size: 20px;
      }

      &.swiper-button-disabled{
        color: #ddd;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
      }

      &.swiper-button-disabled:hover{
        color: #ddd;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
      }

      &:focus{
        outline: none;
      }
      &:hover{
        box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
      }
    }

    .product-swiper-button-nuxt{
      right: 20px;
    }

    .product-swiper-button-pruv{
      left: 20px;
    }

  }

  .product-swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
    text-align: center;
  }

  .product-swiper {

    .swiper-slide {
      text-align: center;
      font-size: 38px;
      font-weight: 700;
      padding: 1.5rem 1.5rem 0 1.5rem;
      //display: flex;
      justify-content: center;
      align-items: center;
    
      .swiper-img{
        object-fit: cover;
      }
    }

  }

  @media only screen and (max-width: 600px) {

    .product-swiper-container{
      padding-right: 2rem;
      padding-left: 2rem;
    }
    .product-swiper {
      .swiper-slide {
        .swiper-img{
          
        }
      }

    }
  }
</style>

