<template>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <card>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Нэр">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Имейл хаяг">
              <small id="emailHelp" class="form-text text-muted">Имейлээр танд мэдэгдэл очих болно</small>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Утасны дугаар">
              <small id="emailHelp" class="form-text text-muted">Бид тантай холбогдох учир өөрийн утасны дугаарыг оруулна уу?</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Бүтээгдэхүүний төрөл сонгоно уу?</label>
              <select class="custom-select">
                <option selected value="1">Даавуун цүнх</option>
                <option value="2">Подволк</option>
                <option value="3">Цамц</option>
                <option value="4">Бөгж</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Өнгөө сонгоно уу?</label>
              <select class="custom-select">
                <option selected value="1">Хар</option>
                <option value="2">Саарал</option>
                <option value="3">Цагаан</option>
                <option value="4">Шар</option>
              </select>
            </div>

            <div class="form-group">
              <img class="chosen-image" v-if="chosenImage" :src="chosenImage" alt="">
            </div>

            <div class="form-group">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageModal">
                Зураг сонгох
              </button>
            </div>
            

            <!-- Modal -->
            <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Зурагаа сонгоно уу?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-4" v-for="image in images">
                        <div class="order-image-container">
                          <img @click="chooseImage" :src="'/img/order/print/'+image" alt="" class="order-image mb-4">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Хаах</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row justify-content-center">
              <button class="btn btn-primary" @click="submit">Shut up and take my money</button>
            </div>
          </form>
        </card>
      </div>
    </div>
</template>

<script>
const axios = require('axios');
export default {
  
  head () {
    return { title: this.$t('products') }
  },

  data: () => ({
    images: null,
    chosenImage: null
  }),

  methods: {
    submit(event){
      event.preventDefault();
    },
    loadOrderImages(){
      axios.get(process.env.apiUrl+'/product/order/images')
      .then((response) => {
        this.images = response.data.data;
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    chooseImage(e){
      this.chosenImage = e.currentTarget.getAttribute('src');
      
    }
  },

  mounted: function(){
    this.loadOrderImages();
  }
}
</script>

<style lang="scss" scoped>

  .order-image-container{

    .order-image{
      width: 100%;
      cursor: pointer;
      transition: all .3s;

      &:hover{
        box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.15);
      }
    }
  }

  .chosen-image{
    width: 30%;
  }
</style>

