<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper" @click="closeModal">
        <div :class="{'modal-container': true, [`${sm}`]: true}">
          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="modal-default-button btn btn-outline-success" @click="$emit('close')">
                Хаах
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    sm: {
      type: String,
      default: 'col-md-8'
    }
  },
  methods: {
    closeModal(e) {
      this.event = function(event) {
        if (event.target.className == 'modal-wrap') {
          // close modal here
          this.$emit('close')
          document.body.removeEventListener("click", this.event);
        }
      }.bind(this);
      document.body.addEventListener("click", this.event);
    },
  }
}
</script>

<style lang="scss" scoped>
  .modal-container.sm{
    width: 50%;
  }

  @media screen {
    
  }
</style>
